body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

div {
	margin: auto;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
}

div:last-child {
	padding-bottom: 40px;
}

#container, #screen {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

#container {
	overflow: scroll;
	display: block;
}

#screen {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	background-color: #ffdfce;
	z-index: 2;
}

/* consent form */
#consent {
	max-width: 600px;
}

/* article display */

#article {
	font-family: Georgia, serif;
	max-width: 600px;
}

#post-article-toolbar {
	margin: auto 20px;
	text-align: center;
}

/* basic form elements */

/* buttons */

button {
	position: relative;
	text-align: center;
	font-size: 16px;
	border-radius: 4px;
	color: white;
	background-color: #2c73c8;
	border: none;
	min-width: 120px;
	height: 48px;
}

button:hover {
	cursor: pointer;
	background-color: #307edc;
	transition: background 0.2s;
	-webkit-transition: background 0.2s;
}

button:focus {
	outline: 0;
}

input, textarea {
	padding: 12px 8px;
	font-size: 16px;
	width: 100%;
	margin: 16px auto;
	border-radius: 2px;
	border: 1px solid #bbb;
	display: block;
}

/* share form */

#shareForm {
	display: block;
	max-width: 600px;
	padding: 40px;
	margin: auto;
}

#goToArticle {
	background: none;
	border-radius: none;
	border: none;
	display: block;
	color: #2c73c8
}

/* typography */

p {
	font-size: 16px;
	line-height: 20px;
	color: #222;
}

h1 {
	font-size: 20px;
	line-height: 24px;
	color: #222;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	line-height: 22px;
	color: #222;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	line-height: 20px;
	color: #666;
	font-weight: 400;
}

/* utils */

.align-center {
	margin: 0 auto;
}
