{% extends "layout.html" %}
{% block body %}

<div>

  <h2>Statement of Informed Consent</h1>
  
  <p>You are about to participate in a research study. Your contribution to our research allows us to learn about how news articles are read online, and how social media can be changed to encourage better sharing. Please read the following information carefully before proceeding.</p>
  
  <h3>Why we are doing this research</h3>

  <p>We are trying to understand how to create a crowdsourcing system that results in effective wayfinding descriptions, and what the attributes of effective descriptions are.</p>
  
  <h3>What you will have to do</h3>
  
  <p>You will be shown a snippet from a news article. We will ask you for your thoughts on the article, and how you might share it with your network on social media. This task should take less than 10 minutes.</p>
  
  <h3>Potential risks</h3>
  <p>There are no risks anticipated in taking part in this study and you are free to leave at any time.</p>
  
  <h3>To contact the researcher</h3>
  
  <p>If you have questions or concerns about this research, please contact:
  <br><i>Prof. Krzysztof Gajos, Maxwell Dworkin 251, 33 Oxford St, Cambridge, MA 02138, kgajos@seas.harvard.edu</i></p>
  
  <p>Whom to contact about your rights in this research, for questions, concerns, suggestions, or complaints that are not being   addressed by the researcher, or research-related harm:
  <br><i>Committee on the Use of Human Subjects in Research at Harvard University, 1414 Massachusetts Avenue, Second Floor,   Cambridge, MA 02138. Phone: 617-496-2847 (CUHS). Email: cuhs@fas.harvard.edu.</i></p>
  
  <p>By accepting this HIT, you confirm that you have read and understood the above and agree to take part in this research. Your participation is voluntary and you are free to leave the experiment at any time by simply closing the web browser.</p>

</div>

{% endblock %}
