{% extends "layout.html" %}
{% block body %}
	<div class="article">
		{% for paragraph in article %}
			<p>{{ paragraph }}</p>
		{% endfor %}
	</div>

	<div id="instructions">
		<p>INSTRUCTIONS</p>
		<div id="startExperimentButton">
			<a href="#" id="startExperiment">Start Experiment</a>
		</div>
	</div>

	<div class="post-article-toolbar">
		<button onclick="showPostForm()">Make Post</button>
	</div>

	<div id="trial1" class="trialDiv">
		<p><img src="" id="trialImage1"></p>
		<form>
		  <input type="radio" name="interestInArticle" value="1" checked=False> 1. Not interested at all <br>
		  <input type="radio" name="interestInArticle" value="2" checked=False> 2. <br>
		  <input type="radio" name="interestInArticle" value="3" checked=False> 3. Neutral <br>
			<input type="radio" name="interestInArticle" value="4" checked=False> 4. <br>
		  <input type="radio" name="interestInArticle" value="5" checked=False> 5. Very interested <br>
			<input type="button" class="finishTrial" value="0" id="reactionTime1">
			<input type="hidden" name="question1RT" value="0" id="reactionTime1">
		</form>
	</div>

	<div id="post-form">
		Hello
		<button id="close-button" onclick="hidePostForm()">Back To Article</button>
	</div>
{% endblock %}





	<div id="trial2" class='trialDiv'>
		<p><img src="http://timbrady.org/turk/images/car.jpg" width="100" id="trialImage2"></p>
		<p><input type="radio" class="responseButton" name="question2" value="-1"> smaller</p>
		<p><input type="radio" class="responseButton" name="question2" value="1"> bigger</p>
		<input type="hidden" name="question2RT" value="0" id="reactionTime2">
	</div>


	<script>
	$("#testDiv").click(function() {
		$("#testDiv").html("<b>Hi</b>");
	});
	var trialOrder = shuffle([4,3,2,1]);
	var curTrial = 0;
	var nTrials = 4;
	var startTrialTime;
	function trialIsOver() {
		var curTime = new Date();
		var rt = curTime - startTrialTime;
		$('#reactionTime' + trialOrder[curTrial]).val(rt);
		console.log(rt);

		$("input[type='radio'][name='question4']:checked").val()

		$('#trial' + trialOrder[curTrial]).hide();
		curTrial++;
		if (curTrial >= nTrials) {
			$('#submitButton').show();
		} else {
			showTrial(trialOrder[curTrial]);
			startTrialTime = new Date();
		}
	}

	function showTrial(whichImage) {
		setTimeout(function() {
			$('#trial' + whichImage).show();
			setTimeout(function() {
				$('#trialImage' + whichImage).hide();
			}, 200);

			$(document).bind("keydown.steve", function(event) {
				if (event.which == 83) {
					console.log("pressed small");
					$(document).unbind("keydown.steve");
					trialIsOver();
				}
				if (event.which == 66) {
					console.log("pressed big");
					$(document).unbind("keydown.steve");
					trialIsOver();
				}
			});
		}, 500);
	}

	$("#trial4").bind("mousemove", function(e){
		console.log(e.offsetX);
	});

	function showFirstTrial() {
		showTrial(trialOrder[0]);
		startTrialTime = new Date();
		$('#instructions').hide();
	}

	/* Fisher-Yates shuffle */
	function shuffle(o){
		for(var j, x, i = o.length; i; j = Math.floor(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x);
		return o;
	}

	/* Wait for clicks */
	$('#startExperiment').click(showFirstTrial);
	$('.finishTrial').click(trialIsOver);
	</script>

	<!-- do not put this on Turk -->
	<input type="submit" id="submitButton">
