{% extends "layout.html" %}
{% block body %}

<div id="container screen">
  <div class="wrapper">
      {% for summary in data.summaries %}
      <a href="{{ targetLink }}" id="{{ summary }}" class="summary" value="{{ summary }}">
      <h2>{{ data.summaries[summary]['title'] }}</h2>
      <p>{{ data.summaries[summary]['byLine'] }}</p>
      <p>{{ data.summaries[summary]['preview'] }}</p>
      <p class="annotation">{{ data.summaries[summary]['annotation'] }}</p>
      </a>
    {% endfor %}
  </div>
  <div>
      <div class="wrap">
        <form action="" id="LikertForm">
          <input type="hidden" name="targetLink" value="{{ targetLink }}" />
          <input type="hidden" name="curr_cat" value="{{ data.curr_cat }}" />
          <h2 class="title align-center">How well do you think this summary represented the article?</h2>
          <ul class='likert'>
            <li><input type="radio" name="summary_evaluation" value="1"><label>Nothing</label></li>
            <li><input type="radio" name="summary_evaluation" value="2"></li>
            <li><input type="radio" name="summary_evaluation" value="3"></li>
            <li><input type="radio" name="summary_evaluation" value="4"><label>A bit</label></li>
            <li><input type="radio" name="summary_evaluation" value="5"></li>
            <li><input type="radio" name="summary_evaluation" value="6"></li>
            <li><input type="radio" name="summary_evaluation" value="7"><label>A lot</label></li>
          </ul>
          <h2 class="title align-center">How much did you already know about this topic?</h2>
          <ul class='likert'>
            <li><input type="radio" name="prior_knowledge" value="1"><label>Nothing</label></li>
            <li><input type="radio" name="prior_knowledge" value="2"></li>
            <li><input type="radio" name="prior_knowledge" value="3"></li>
            <li><input type="radio" name="prior_knowledge" value="4"><label>A bit</label></li>
            <li><input type="radio" name="prior_knowledge" value="5"></li>
            <li><input type="radio" name="prior_knowledge" value="6"></li>
            <li><input type="radio" name="prior_knowledge" value="7"><label>A lot</label></li>
          </ul>
          <h2 class="title align-center">How much did you learn from this article?</h2>
          <ul class='likert'>
            <li><input type="radio" name="learning" value="1"><label>Nothing</label></li>
            <li><input type="radio" name="learning" value="2"></li>
            <li><input type="radio" name="learning" value="3"></li>
            <li><input type="radio" name="learning" value="4"><label>A bit</label></li>
            <li><input type="radio" name="learning" value="5"></li>
            <li><input type="radio" name="learning" value="6"></li>
            <li><input type="radio" name="learning" value="7"><label>A lot</label></li>
          </ul>
          <div id="post-article-toolbar">
            <button id="submitButton" value="Submit" onclick="clickSubmitReview()">Submit</button>
          </div>
        </form>
      </div>
    
  </div>
</div>

{% endblock %}
