{% extends "layout.html" %}
{% block body %}

<div id="container">
  <div id="article">
    <h2>{{ data.articleTitle }}</h2>
    <h3>{{ data.articleByLine }}</h3>
    {% for paragraph in data.articleText %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
  <div id="post-article-toolbar">
    <button type="button" class="align-center" id="goToForm" onclick="showShareForm()">See task</button>
  </div>
</div>
<div id="screen">
  <div id="shareForm">
    <button id="goToArticle" onclick="hideShareForm()">← Back To Article</button>
    <p>If you were to share this news story on social media, what would you say about it?</p>
    <form id ="mturkForm" method="POST">
      <input type="hidden" id="assignmentId" value="{{ data.assignmentID }}" name="assignmentId"/>
      <input type="hidden" id="hitId" value="{{ data.hitID }}" name="hitId"/>
      <input type="hidden" id="workerId" value="{{ data.workerID }}" name="workerId"/>
      <input type="hidden" id="annotationId" value="{{ data.annotationID }}" name="annotationId"/>
      <textarea id="annotation" name="annotation" placeholder="{{ data.annotation }}" rows="5"></textarea>
      <button type="submit" id="submitButton" value="Submit" onclick="submitTask()">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
