{% extends "layout.html" %}
{% block body %}

<div id="container">
  <div id="article">
    <p class="instructions">Read the following article, then 'share' it</p>
    <h2>{{ data.curr_articleTitle }}</h2>
    <h3>{{ data.curr_articleByLine }}</h3>
    {% for paragraph in data.curr_articleText %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
  <div id="post-article-toolbar">
    <button type="button" class="align-center" id="goToForm" onclick="showShareForm()">Share article</button>
  </div>
</div>
<div id="screen">
  <div id="shareForm">
    <button id="goToArticle" onclick="hideShareForm()">← Back To Article</button>
    <p class="instructions bg-pink">Act like you're about to share this article on social media.</p>
    <p><b>{{ data.prompt }}</b></p> 
    <form name="mturkForm" id="mturkForm" action="{{ data.amazon_host }}" method="POST">
      <input type="hidden" id="assignmentId" value="{{ data.assignmentId }}" name="assignmentId"/>
      <input type="hidden" id="hitId" value="{{ data.hitId }}" name="hitId"/>
      <input type="hidden" id="workerId" value="{{ data.workerId }}" name="workerId"/>
      <input type="hidden" id="curr_cat" value="{{ data.curr_cat }}" name="articleCategory"/>
      <input type="hidden" id="curr_article" value="{{ data.curr_article }}" name="articleId"/>
      <input type="hidden" id="promptId" value="{{ data.promptId }}" name="promptId"/>
      <textarea id="annotation" name="annotation" placeholder="{{ data.placeholder }}" rows="5"></textarea>
      <button id="submitButton" value="Submit" onclick="submitTask()">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
