{% extends "layout.html" %}
{% block body %}

<div id="container">
  <div id="article">
    <h2>{{ data.articleTitle }}</h2>
    <h3>{{ data.articleByLine }}</h3>
    {% for paragraph in data.articleText %}
      <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
  <div id="post-article-toolbar">
    <button type="button" class="align-center" id="goToForm" onclick="showShareForm()">See task</button>
  </div>
</div>
<div id="screen">
  <div id="shareForm">
    <button id="goToArticle" onclick="hideShareForm()">← Back To Article</button>
    <p>Annotation Text</p>
    <!-- Add annotation fields -->
    <form id ="mturkForm" method="POST">
      <input type="hidden" id="assignmentId" value="{{ data.assignmentID }}" name="assignmentId"/>
      <input type="hidden" id="hitId" value="{{ data.hitID }}" name="hitId"/>
      <input type="hidden" id="workerId" value="{{ data.workerID }}" name="workerId"/>
      <input type="textarea" id="annotation" name="annotation"/>
      <button type="submit" id="submitButton" value="Submit" onclick="submitTask()">Submit</button>
    </form>
  </div>
</div>

    <!-- Hello
    {% if data.annotationType == 1 %}
      First AnnotationType
    {% elif data.annotationType == 2 %}
      Second AnnotationType
    {% elif data.annotationType == 3 %}
      Third AnnotationType
    {% endif %} -->

{% endblock %}
